{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <br>



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
    <script>
        createYoutubePlayer()
        {
              this.youtubePlayer = new YT.Player('youtubePlayer', {
              videoId: 'https://www.youtube.com/embed/OuaFVfN6eeQ', // YouTube Video ID
              width: 277,               // Player width (in px)
              height: 600,              // Player height (in px)
              playerVars: {
                autoplay: 1,        // Auto-play the video on load
                controls: 0,        // Show pause/play buttons in player
                showinfo: 1,        // Hide the video title
                modestbranding: 1,  // Hide the Youtube Logo
                loop: 1,            // Run the video in a loop
                fs: 0,              // Hide the full screen button
                cc_load_policy: 0, // Hide closed captions
                iv_load_policy: 3,  // Hide the Video Annotations
                autohide: 1,         // Hide video controls when playing
                playsinline: 1, //forbid fullscreen on ios
              },
              events: {
                onReady: (e) => {
                  e.target.mute();
                },
                onStateChange: (e) => {this.onPlayerStateChange(e)}
              }
            });
  }
    </script>



  <script src="/static/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
