{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <center><h1>Plaintiff</h1></center>
                <p>I feel it's important to give context about the plaintiff's in regard to this court case.
                    They are my parents, I was raised in a wealthy household that was troubled.
                    At a young age till my teenage years there were many fights driven between my mother and me.
                    My father was supportive in terms of providing for the household but absent when it came to parenting or understanding the complete dynamics of what taking place.
                    From middle school onward my mother believed something was wrong with me, from her own mental illness to the issues she faced growing up.
                    I found myself being labeled in terms of sick people she faced throughout her life and she drugged me to with depression medication, ADHD medication and a progression of countless & doctors to fix a kid she saw as mentally ill.
                    On a deeper investigation a handle of the counselors noticed underlying issues not with me but concerning my mother's personal trauma as she tried to handle of me as a child.
                    When my mother was confronted by doctors would remove the counselor and search for a new one that would blindly agree to what she was trying to achieve.
                    Medication and a complete control over me and my life was the only option she was willing to accept. When my father would try to intervene he would be meet with me on occasion and there was reason and a genuine attempt at trying to understand.
                    However, when confronted by my father my mother would threaten him a divorce him and demand they parent as one.
                    Eventually when I was 16-17, I had enough, and I moved out of the house. Sensing that I was no longer under her control my mother would go through manic rages and try to get me to come back home by any means necessary.
                    She would threaten those supporting me and myself she would threaten legal action, she would take away any possession I had, she would destroy friendships and relationships, she would threaten to take away my freedom.
                    I was a kid who was forced to grow up fast, as I was not going to let her control me anymore. I was not going to let her take away my life or manipulate me.
                    So I walked a hard path juggling multiple jobs, over 40/h a week while attending high school and college living off my girlfriends couch.
                    Like many young adults who find themselves on the streets with no healthy home to tern to I found a vice to numb the pain and to help me get off the medication that was thrown at me.
                    I found marijuana, and I found it to be a healthier alternative to the medication that was being forced on me.
                    At the age of 19 years old I was arrested for possession of marijuana and was sentenced to 5 years probation having nothing to my name and over $20k in fines.
                    Stubborn and trying to make it in the world, I faced an uphill battle as I lost my college education and was forced to figure out a way forward.
                    Inorder to solve my underlying legal issues and to set up a foundation to scale from I skillfully and luckily launched a successful business manufacturing respirator masks, and I traveled to California where I networked and taught myself programming.
                    After surviving on my own for a few years at 22 years old I found more legal issues in terms of my probation and at my lowest point I agreed at returning home as I wanted to finally work on my family and resolve this overhead issue with the justice system.
                    Thankfully I was able to resolve my probation, thanks to covid and the respirator mask business I had built I was able to pay off my financial and court debts to the state.
                    Also, during that time of returning home I was able to work on my relationship with my parents. At the age of 24 I had the capabilities to finally move on with my life, and I moved out of my parents house.
                    Searching for where I wanted to live I found a condo nearby listed at the Port of Call for $80,000. I had the capital at the time for the 20% needed to buy a house, and I started the process of buying my first home.
                    I went to the bank to organize this transaction I was told condo's can't be counted as a primary residence, and I would need to come up with the 100% of the condo's price inorder to buy the property.
                    This is where my parents stepped in, they offered to co-sign the loan for me, and I was able to buy my first home.




                </p>
            </div>
        </div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}


  <script src="/static/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
